<div class="mood">
	<!-- When isReply -->
	<div (click)="setMood()" class="replyOptionWidget">
		<i *ngIf="options.mood == 1" class='em emojiBottom em-cry'></i>
		<i *ngIf="options.mood == 2" class='em emojiBottom em-disappointed'></i>
		<i *ngIf="options.mood == 3" class='em emojiBottom em-neutral_face'></i>
		<i *ngIf="options.mood == 4" class='em emojiBottom em-smiley'></i>
		<i *ngIf="options.mood == 5" class='em emojiBottom em-laughing'></i>
		<span [hidden]="!loading" class="loading">&nbsp;...</span>
	</div>
	<!-- When !isReply -->
		<!-- This is the same as above, so not repeated -->
</div>