<div class="widget">
	Wid
	<FacebookLogin *ngIf="widget.widgetName == 'facebookLogin'"
	 [callbackFunction]="callbackFunction" [chatObject]="chatObject"
	 [isReply]="isReply" [options]="chatObject.widget.options" [data]="data"></FacebookLogin>
	<UserLocation *ngIf="widget.widgetName == 'userLocation'"
	 [callbackFunction]="callbackFunction" [chatObject]="chatObject"
	 [isReply]="isReply" [options]="chatObject.widget.options" [data]="chatObject.data"></UserLocation>
	<Health *ngIf="widget.widgetName == 'health'"
	 [callbackFunction]="callbackFunction" [chatObject]="chatObject"
	 [isReply]="isReply" [options]="chatObject.widget.options" [data]="chatObject.data"></Health>
</div>