
<!--
<ion-navbar *navbar class="navbar">
  <button menuToggle>
    <ion-icon name="menu"></ion-icon>
  </button>
  <ion-title>Activate</ion-title>
</ion-navbar>
-->
<div class="homepage">
  <div class="topNavbarWhiteBackground">
  </div>
</div>

<ion-content class="homepage" id="homepage-content">
  <ion-list padding>
    <span *ngIf="loadingMessages">Loading ...</span>
    <div *ngFor="#chatMessage of chatMessages" class="fade-in"
        [class.align-right]="chatMessage.usersMessage">
      <div *ngIf="chatMessage.type != 'line'" [class.message-user]="chatMessage.usersMessage"
          [class.message-bot]="!chatMessage.usersMessage">
        <span *ngIf="!chatMessage.isWidget" [innerHTML]="chatMessage.message"></span>
        <Widget *ngIf="chatMessage.isWidget" [callbackFunction]="widgetBoundCallback"
         [chatObject]="chatMessage" [isReply]="false"></Widget>
      </div>
      <div *ngIf="chatMessage.type == 'line'" class="chat-break-line"></div>
      <br>
    </div>
    <div class="message-typing fade-in" [hidden]="!typing">
      <span class="message-typing-inside">...</span>
    </div>
    <span style="font-size: 24px;"><br>&nbsp;</span>
  </ion-list>
</ion-content>

<ion-content class="bottom-content">
  
  <div class="replyBox">
    <!--
    <div class="chatMenuDiv">
      <ion-icon name="chatbubbles" class="chatBubbleMenu"></ion-icon>
    </div>
    -->

    <!-- SUB MENU
    <div class="replyOptionsBottomContainerSubMenu">
      <div class="bottomReplyContainer">
        
      </div>

      <div class="bottomReplyContainer">
        <div class="subMenuContainer"> 
          <i class='em em-star2 emSubMenu'></i>
        </div>
      </div>

      <div class="bottomReplyContainer">
        <div class="subMenuContainer"> 
          <i class='em em-heart emSubMenu'></i>
        </div>
      </div>
    </div>
    -->

   
    <div class="replyOptionsTopContainer">
      <div *ngFor="#option of replyOptions" class="replyOption"
       (click)="replyWithMessage(option)">
        <span *ngIf="!option.isWidget" [innerHTML]="option.message"></span>
        <Widget *ngIf="option.isWidget" [callbackFunction]="widgetBoundCallback"
         [chatObject]="option" [isReply]="true"></Widget>
      </div>
    </div>

    <div class="replyOptionsBottomContainer">

    <div class="bottomReplyContainer">
        <ion-icon name="ios-nutrition" class="bottomReplyIcon" (click)="openCamera()"></ion-icon>
      </div>

      <!--
      <div class="bottomReplyContainer">
        <ion-icon name="ios-people" class="bottomReplyIcon"
         (click)="navigateTreeTo('start', true)"></ion-icon>
      </div>
      -->

      
      <div class="bottomReplyContainer">
        <ion-icon name="ios-happy" class="bottomReplyIcon" (click)="navigateTreeTo('mood', true)"></ion-icon>
      </div>

      
      <div class="bottomReplyContainer">
        <ion-icon name="ios-heart" class="bottomReplyIcon"
         (click)="navigateTreeTo('healthApiHeart', true)"></ion-icon>
      </div>

      <div class="bottomReplyContainer">
         <ion-icon name="ios-person" class="bottomReplyIcon"
         (click)="openUserProfile()"></ion-icon>
      </div>
    </div>
  </div>
</ion-content>

<!-- <ion-toolbar position="bottom" padding class="fixed">
  <div class="replyOption" *ngFor="#option of replyOptions">
    {{option.message}}
  </div>
</ion-toolbar> -->
