.profilepage {
	.logoutButton {
		margin-right: auto;
		margin-left: auto;
		display: block;
	}

	ion-list > .item:first-child, ion-list > ion-item-sliding:first-child .item {
    	border: none;
    }

    ion-list .item-inner {
    	border: none;
	}

	ion-list > .item:last-child, ion-list > ion-item-sliding:last-child .item {
    	border: none;
	}

	.friendProfileList {
		text-align: center;
	}

	.messageProfilePic {
		height: 30px;
		width: 30px;
		display: inline;
	    border-radius: 100%;
	    margin-right: 5px;
	    margin-top: -5px;
	    margin-left: 5px;
	}

	.cardProfilePic {
	    background-position: center;
    	background-size: cover;
    	height: 20px;
    	width: auto;
    	display: block;
	}

	.friendNameShare {
		color: #444444;
		display: inline;
		font-size: 14px;
		margin-top: 2px;
		position: absolute;
	}

	.profileFriendsListDiv {
		width: 300px;
		text-align: center;
		margin-top: 10px;
	}

	.addFriendsButtonProfile {
		margin-bottom: 10px;
	}

	.settings-cog {
		text-align: right;
		padding-right: 20px;
		font-size: 16px;
		color: #FFFFFF;
		
	}

	.back-button-text {
		display: none;
	}

	.back-button {
		color: #FFFFFF;
	}

	.profilePic {
		width: 100px;
		height: 100px;
		border-radius: 50%;
	}

	.profilePicContainer {
		text-align: center;
	}

	.nameProfile {
		text-align: center;
		font-weight: 600;
		font-size: 18px;
		color: #FFFFFF;
		margin-top: 0px;
		padding-bottom: 10px;

	}

	.timelineContainer {
		background: #ff524f;
	}

	.profileTopContainer {
		background: #ff524f;
	}

	.navbarProfile {
		background: #ff524f;
	}

	.toolbar-background {
		background: #ff524f;
	}

	.containerProfilePageContent {
		height: auto;
		background: #e0e0e0;
		width: 92%;
		border-radius: 5px;
		padding: 6px;

		margin-top: 15px;

		margin-right: auto;
		margin-left: auto;
		display: block;
	}

	.sectionHeader {
		font-weight: 500;
		margin: 0;
	}

	.sectionBody {
		margin: 0;
		width: 100%;
	}

	.sectionBeneath {
		margin-bottom: 6px;
	}

	.emojiContainer {
		width: 24%;
		display: inline-block;
		text-align: center;
		padding-top: 2px;
	}

	.textProfileBelowEmoji {
		margin: 0;
	}

	.em-profileContainer {
		font-size: 10px;
	}

	.connectStravaButton {
		width: 200px;

		margin-top: 10px;
		margin-left: auto;
		margin-right: auto;
		display: block;
	}

	.connectMeetupButton {
		width: 200px;
		margin-top: 10px;

		margin-left: auto;
		margin-right: auto;
		display: block;
	}

	.stravaAPIPOST {
		margin-left: auto;
		margin-right: auto;
		display: block;
	}

	.movesLogoConnectButton {
		width: 100px;

		margin-top: 10px;
		margin-left: auto;
		margin-right: auto;
		display: block;
	}

	.movesLogoHeaders {
		width: 20px;
		display: inline;
		float: right;
		margin-top: 0;
		padding-top: 0;
	}

	.stravaLogoHeaders {
		width: 20px;
		display: inline;
		float: right;
		margin-top: 0;
		padding-top: 0;
		margin-right: 5px;
	}

	.foodDayTitle {
		font-weight: 600;
		margin-bottom: 0px;
		padding-bottom: 0px;
	}

	.foodObject {
		margin-top: 0px;
		margin-bottom: 0px;
	}

	.mapImageDiv {
		width: auto;
		height: auto;
		padding: 5px;
	}
}