<ion-header>
	<ion-navbar class="profilepage navbarProfile">
	  <div class="settings-cog">
	  	<ion-icon name="settings" (click)="showSettings()"></ion-icon>
	  </div>
	</ion-navbar>
</ion-header>

<ion-content class="profilepage">

	<div class="profileTopContainer">
	  <div class="profilePicContainer">
	    <img class="profilePic" src="https://graph.facebook.com/{{currentUser.get('facebookId')}}/picture?width=400">  
	  </div>

	  <p class="nameProfile">{{currentUser.get('name')}}</p>

	</div>
	
	<!-- OVERVIEW GRAPH 
	<div class="containerProfilePageContent" id="myDiv">
	</div>
	-->

	<div class="containerProfilePageContent">
		<span (click)="initTimelineEvents()">Refresh Timeline</span><br><br>
		<b>Timeline of events:</b>
		<div *ngFor="let event of timelineEvents">
			<!-- <span *ngIf="event.type=='message'">
				{{event.time | date: 'shortTime'}}: <b>{{event.message}}</b>
			</span>
			<span *ngIf="event.type=='sleep'">
				{{event.time | date: 'shortTime'}}: <b>Sleeping</b>
			</span>
			<span *ngIf="event.type=='run'">
				{{event.time | date: 'shortTime'}}:
				<b>Running ({{event.distance}}km)</b>
			</span> -->
			<span *ngIf="event.type=='walk'">
				{{event.startDate | date: 'shortTime'}}:
				<span style="font-weight:bold" (click)="event.showDetails = !event.showDetails">
					Walking ({{event.distance}}m)
				</span><br>
				<div class="mapImageDiv" *ngIf="event.showDetails">
					<img class="mapImage" src="https://maps.googleapis.com/maps/api/staticmap?size=200x200&maptype=map&path=color:red%7C{{event.path}}&key=AIzaSyBXqWu65V_Uq9GeZi3GWdiiDE1Go5teGvE"/>	
				</div>
			</span>
			<span *ngIf="event.type=='dwell'">
				{{event.startDate | date: 'shortTime'}}: 
				<span style="font-weight:bold" (click)="event.showDetails = !event.showDetails">
					Dwell for {{event.durationMin}} min
				</span><br>
				<div class="mapImageDiv" *ngIf="event.showDetails">
					<img class="mapImage" src="https://maps.googleapis.com/maps/api/staticmap?center={{event.lat}},{{event.lng}}&zoom=16&size=200x200&maptype=map&markers=color:red%7C{{event.lat}},{{event.lng}}&key=AIzaSyBXqWu65V_Uq9GeZi3GWdiiDE1Go5teGvE"/>
				</div>
				<span *ngIf="event.showDetails">{{event.address}}</span>
			</span>
		</div><br>
	</div>

	<div class="containerProfilePageContent">
		<!--  [hidden]="walkingDataLoading || caloriesDataLoading
		 || cyclingDataLoading || runningDataLoading || heartDataLoading || sleepDataLoading" -->

	 	<!-- HEART RATE -->
		<p class="sectionHeader">
			<i class="em em-heart"></i> (bpm):
		</p>
		<span [hidden]="!heartDataLoading">Getting those beats ...</span>
		<canvas id="heartChart" [hidden]="heartDataLoading"></canvas>
		
		<!-- WALKING GRAPH -->
		<p class="sectionHeader">
			<i class="em em-walking"></i> (km):
		</p>
		<span [hidden]="!walkingDataLoading">Working out steps ...</span>
		<canvas id="walkingChart" [hidden]="walkingDataLoading"></canvas>


		<!-- RUNNING GRAPH: WORKING -->
		<p class="sectionHeader">
			<i class="em em-running"></i> (km):
			<a href="strava://app">
				<img src="images/stravaLogo.png" class="stravaLogoHeaders">
			</a>
		</p>
		<span [hidden]="!runningDataLoading">Working out cycles ...</span>
		<canvas id="runningChart"></canvas>
		<!-- -->

		<!-- CYCLE GRAPH: WORKING -->
		<p class="sectionHeader">
			<i class="em em-bicyclist"></i> (km)
			<a href="strava://app">
				<img src="images/stravaLogo.png" class="stravaLogoHeaders">
			</a>
		</p>
		<span [hidden]="!cyclingDataLoading">Working out cycles ...</span>
		<canvas id="cyclingChart"></canvas>
	

		<!-- SLEEP GRAPH -->
		<p class="sectionHeader">
			<i class="em em-sleeping"></i> (hours):
		</p>
		<span [hidden]="!sleepDataLoading">Working out those ZZZZZs ...</span>
		<canvas id="sleepChart" [hidden]="sleepDataLoading"></canvas>
		
		<!-- KILOJOULES -->
		<p class="sectionHeader"><i class="em em-fire"></i> (kJ):</p>
		<span [hidden]="!kJDataLoading">Collecting those calories ...</span>
		<canvas id="kJChart"></canvas>
	</div>

	<!-- MOOD -->
	<div class="containerProfilePageContent">
		<p class="sectionHeader"><i class="em em-smiley"></i>:</p>
		<span [hidden]="!moodDataLoading">Getting your mood data ...</span>
		<div *ngFor="let moodObject of moodData">
			{{moodObject.dayLabel}}:
			<i *ngIf="moodObject.mood == 1" class='em emojiBottom em-cry'></i>
			<i *ngIf="moodObject.mood == 2" class='em emojiBottom em-disappointed'></i>
			<i *ngIf="moodObject.mood == 3" class='em emojiBottom em-neutral_face'></i>
			<i *ngIf="moodObject.mood == 4" class='em emojiBottom em-smiley'></i>
			<i *ngIf="moodObject.mood == 5" class='em emojiBottom em-laughing'></i>
		</div>
	</div>

	<!-- FOOD -->
	<div class="containerProfilePageContent">
		<p class="sectionHeader"><i class="em em-apple"></i>:</p>
		<div *ngFor="let dayFoodObject of foodArray">
			<p class="foodDayTitle">{{dayFoodObject.dayString}}:</p>
			<p class="foodObject" *ngFor="let foodObject of dayFoodObject.array">
				{{foodObject.createdAt}} {{foodObject.microsoft}}: {{foodObject.nutritionix}} kcal
			</p>
		</div>
	</div>

	<div class="containerProfilePageContent">
		<p class="sectionHeader">
			<i class="em em-trophy"></i>:
			<a href="facebook://app">
				<img src="images/facebook.jpg" class="movesLogoHeaders">
			</a>
		</p>
		<span [hidden]="!caloriesDataLoading">Ranking you to facebook friends ...</span>
		<canvas id="caloriesChart" [hidden]="caloriesDataLoading"></canvas>
	</div>

	<img (click)="connectStravaButton()" class="connectStravaButton" src="images/stravaConnect.png">

	<!--
		<button (click)="stravaStats()" class="stravaAPIPOST">Strava Stats</button>
		<button (click)="stravaActivities()" class="stravaAPIPOST">Strava Activities</button>
		<button (click)="stravaActivitiesLastWeek()" class="stravaAPIPOST">Strava Activities Last Week</button>
		<img (click)="connectMoves()" src="images/MovesLogowithName.png" class="movesLogoConnectButton">
		<button (click)="movesAPIPOST()" class="stravaAPIPOST">Moves API POST</button>
	-->
	<!--
		<img (click)="connectMeetup()" class="connectMeetupButton" src="images/meetup.png">
	-->
</ion-content>