<div class="health">
	<!-- When isReply -->
	<div *ngIf="isReply" (click)="initHealth()">
		<div *ngIf="widgetType == 'initHealth'">
			Yes<span [hidden]="!loading" class="loading">&nbsp;...</span>
		</div>
		<div *ngIf="widgetType == 'showData'">
			<!-- Nothing should be here --> Error
		</div>
		<div *ngIf="widgetType == 'measureHeart'">
			Measure Away
		</div>
	</div>
	<!-- When !isReply -->
	<div *ngIf="!isReply">
		<div *ngIf="widgetType == 'initHealth'">
			{{initHealthString}}
		</div>
		<div *ngIf="widgetType == 'showData'">
			{{data.summaryString}}
		</div>
		<div *ngIf="widgetType == 'measureHeart'">
			{{data.summaryString}}
		</div>
	</div>
</div>