<div class="health">
	<!-- When isReply -->
	<div *ngIf="isReply">
		<div *ngIf="widgetType == 'initHealth'" (click)="initHealth()">
			Yes<span [hidden]="!loading" class="loading">&nbsp;...</span>
		</div>
		<div *ngIf="widgetType == 'showData'">
			<!-- Nothing should be here --> Error
		</div>
		<div *ngIf="widgetType == 'measureHeart'" (click)="measureHeart()">
			Measure Away<span [hidden]="!loading" class="loading">&nbsp;...</span>
		</div>
	</div>
	<!-- When !isReply -->
	<div *ngIf="!isReply">
		<div *ngIf="widgetType == 'initHealth'">
			{{initHealthString}}<span [hidden]="!loading" class="loading">&nbsp;...</span>
		</div>
		<div *ngIf="widgetType == 'showData'">
			{{summaryString}}<span [hidden]="!loading" class="loading">&nbsp;...</span>
			<textarea id="activityJsonString" style="color:black;"></textarea>
		</div>
		<div *ngIf="widgetType == 'measureHeart'">
			{{data.summaryString}}<span [hidden]="!loading" class="loading">&nbsp;...</span>
		</div>
	</div>
</div>